*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: grey; */
}

#nav{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding: 0px 30px;
    align-items: center;
}

#nav h4{
    font-size: 1.3vw;
    font-family: sans-serif;
    font-weight: 60;
}

#nav i{
    /* font-weight: 5; */
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 50%;
}

#center{
    width: 100%;
    padding: 0px 60px;
    background-color: rgb(255, 255, 255);
}

#center h1{
    font-family: sans-serif;
    font-weight: 9;
    font-size: 60px;
    line-height: 65px;
}

#center-in{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#center-in p{
    line-height: 30px;
    font-size: 20px;
}

#right{
    width: 30%;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    text-decoration: none;
}

.link{
    margin: 5px;
    padding: 10px 0;
    font-size: 20px;
    line-height: 25px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.link i{
    opacity: 0;
}

.link a{
    color: black;
    text-decoration: none;
}

.link:hover i{
    opacity: 1;
}

.link:hover a{
    opacity: 1;
    color: blue;
}

#bottom{
    height: 31%;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1682090223154-092eeabed8c4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBwZW9wbGV8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30%;
}